# Build dataset

start date:
https://www.data.jma.go.jp/sakura/data/sakura003_06.html
    
full bloom:
https://www.data.jma.go.jp/sakura/data/sakura004_06.html
    
temp data:
March temp data?    
    
http://www.st.nanzan-u.ac.jp/info/gr-thesis/ms/2007/03mm081.pdf

https://www.economist.com/graphic-detail/2017/04/07/japans-cherry-blossoms-are-emerging-increasingly-early

In [170]:
import pandas as pd
import re
import numpy as np

import math
import statistics

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
matplotlib.rcParams['pdf.fonttype'] = 42

%matplotlib inline

pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

# Clean the table romth JMA agency in text edtior. 

Merge the dataframes so I have one for the start date of sakura blossoms, and one for the full bloom

In [2]:
start1 = pd.read_csv('sakura-start-2001-2010.csv', dtype=object)
start1.shape

(102, 13)

In [3]:
start2 = pd.read_csv('sakura-start-2011-2019.csv', dtype=object)
start2.shape

(58, 12)

In [4]:
start = start2.merge(start1, how='left', on='loc')
start

,loc,2011,2012,2013,2014,2015,2016,2017,2018,2019,...,2003,2004,2005,2006,2007,2008,2009,2010,avg_y,not_someino_yoshino_y
0,稚内,0519,0514,0526,0511,0503,0513,0509,0512,0507,...,05026,05011,0503,05013,0509,05012,0507,05014,1,NaN
1,旭川,0509,052,0518,0502,0427,0503,053,0430,0501,...,05018,0502,0427,0503,0503,0430,0501,0505,1,NaN
2,網走,0516,0503,0525,0507,0430,0508,055,0502,055,...,05025,0507,0430,0508,0505,0502,0505,05011,1,NaN
3,札幌,0507,051,0513,0429,0422,0425,0428,0426,0424,...,05013,0429,0422,0425,0428,0426,0424,0503,NaN,NaN
4,帯広,0503,055,0510,0427,0426,0430,0501,0427,0428,...,05010,0427,0426,0430,0501,0427,0428,0504,1,NaN
5,釧路,0518,0517,0523,0512,0506,0510,0514,0512,0509,...,05023,05012,0506,05010,05014,05012,0509,05017,ß,NaN
6,室蘭,0506,059,0516,0429,0428,0425,0502,0429,0429,...,05016,0429,0428,0425,0502,0429,0429,0506,NaN,NaN
7,函館,0502,052,0508,0428,0421,0424,0427,0425,0424,...,0508,0428,0421,0424,0427,0425,0424,04030,NaN,NaN
8,青森,0425,0429,0429,0422,0414,0417,0417,0419,0418,...,0429,0422,0414,0417,0417,0419,0418,04024,NaN,NaN
9,秋田,0423,0424,0423,0420,0411,0414,0416,0417,0416,...,0423,0420,0411,0414,0416,0417,0416,04018,NaN,NaN
10,盛岡,0420,0424,0423,0413,0409,0411,0417,0417,0418,...,0423,0413,0409,0411,0417,0417,0418,04021,NaN,NaN
11,山形,0418,0423,0415,0414,0410,0406,0414,0404,0412,...,0415,0414,0410,0406,0414,0404,0412,04015,NaN,NaN
12,仙台,0412,0418,0409,047,0403,041,0407,0330,0405,...,0409,0407,0403,0401,0407,03030,0405,04011,NaN,NaN
13,福島,0412,0416,0405,048,0402,0330,0408,0329,0405,...,0405,0408,0402,03030,0408,03029,0405,0409,NaN,NaN
14,新潟,0414,0416,0407,047,0402,043,0408,043,0405,...,0407,0407,0402,0403,0408,0403,0405,0409,NaN,NaN
15,金沢,0407,0410,0330,0401,0331,0330,0404,0329,0401,...,03030,0401,03031,03030,0404,03029,0401,0404,NaN,NaN
16,富山,0408,0412,0329,0402,041,0329,0405,0327,0328,...,03029,0402,0401,03029,0405,03027,03028,0405,NaN,NaN
17,長野,0415,0418,0406,0411,0404,043,0414,0402,0413,...,0406,0411,0404,0403,0414,0402,0413,04013,NaN,NaN
18,宇都宮,0406,048,0321,0329,0330,0328,0403,0326,0328,...,03021,03029,03030,03028,0403,03026,03028,0401,NaN,NaN
19,福井,0407,0410,0328,0331,0331,0327,0405,0329,0328,...,03028,03031,03031,03027,0405,03029,03028,0403,NaN,NaN
20,前橋,0403,048,0322,0329,0328,0323,0402,0325,0327,...,03022,03029,03028,03023,0402,03025,03027,03031,NaN,NaN
21,熊谷,0401,044,0319,0328,0327,0323,0328,0322,0325,...,03019,03028,03027,03023,03028,03022,03025,03029,NaN,NaN
22,水戸,0406,046,0321,0329,0330,0328,0403,0325,0327,...,03021,03029,03030,03028,0403,03025,03027,0402,NaN,NaN
23,岐阜,0328,0330,0321,0324,0323,0320,0328,0319,0322,...,03021,03024,03023,03020,03028,03019,03022,03026,NaN,NaN
24,名古屋,0327,0330,0319,0324,0321,0319,0328,0319,0322,...,03019,03024,03021,03019,03028,03019,03022,03026,NaN,NaN
25,甲府,0329,0401,0319,0328,0325,0323,0330,0323,0327,...,03019,03028,03025,03023,03030,03023,03027,03027,NaN,NaN
26,銚子,0404,042,0321,0329,0330,0401,041,0320,0325,...,03021,03029,03030,0401,0401,03020,03025,03031,NaN,NaN
27,津,0401,044,0325,0327,0329,0328,0403,0326,0328,...,0404,03025,03027,03029,03028,0403,03026,03028,03030,NaN
28,静岡,0320,0324,0317,0324,0322,0327,0402,0318,0328,...,03017,03024,03022,03027,0402,03018,03028,03025,NaN,NaN
29,東京,0328,0331,0316,0325,0323,0321,0321,0317,0321,...,03016,03025,03023,03021,03021,03017,03021,03026,NaN,NaN
30,横浜,0330,0402,0318,0325,0323,0323,0325,0319,0321,...,03018,03025,03023,03023,03025,03019,03021,03026,NaN,NaN
31,松江,0406,046,0323,0327,0329,0323,0401,0326,0326,...,03023,03027,03029,03023,0401,03026,03026,03031,NaN,NaN
32,鳥取,0402,043,0320,0327,0328,0323,0402,0324,0326,...,03020,03027,03028,03023,0402,03024,03026,03031,NaN,NaN
33,京都,0328,0403,0322,0327,0327,0323,0331,0322,0327,...,03022,03027,03027,03023,03031,03022,03027,03028,NaN,NaN
34,彦根,0401,048,0330,0402,0331,0330,0405,0327,0404,...,03030,0402,03031,03030,0405,03027,0404,0402,NaN,NaN
35,広島,0401,042,0322,0325,0324,0323,0327,0322,0322,...,03022,03025,03024,03023,03027,03022,03022,03027,NaN,NaN
36,岡山,0331,0403,0324,0328,0328,0326,0401,0325,0327,...,03024,03028,03028,03026,0401,03025,03027,03029,NaN,NaN
37,神戸,0331,0402,0321,0327,0327,0326,0403,0323,0327,...,03021,03027,03027,03026,0403,03023,03027,03028,NaN,NaN
38,大阪,0331,0402,0321,0327,0326,0323,0330,0320,0327,...,03021,03027,03026,03023,03030,03020,03027,03028,NaN,NaN
39,和歌山,0327,0330,0318,0326,0323,0322,0330,0320,0325,...,03018,03026,03023,03022,03030,03020,03025,03026,NaN,NaN
40,奈良,0331,0403,0322,0327,0327,0323,0403,0324,0329,...,03022,03027,03027,03023,0403,03024,03029,03029,NaN,NaN
41,松山,0325,0330,0317,0324,0327,0323,0330,0319,0322,...,03017,03024,03027,03023,03030,03019,03022,03025,NaN,NaN
42,高松,0331,0402,0322,0326,0324,0326,0402,0324,0326,...,03022,03026,03024,03026,0402,03024,03026,03028,NaN,NaN
43,高知,0322,0321,0315,0318,0322,0324,0329,0315,0322,...,03015,03018,03022,03024,03029,03015,03022,03022,NaN,NaN
44,徳島,0331,0401,0324,0329,0328,0330,0403,0323,0328,...,03024,03029,03028,03030,0403,03023,03028,03028,NaN,NaN
45,下関,0330,0330,0319,0325,0325,0328,0329,0323,0325,...,03019,03025,03025,03028,03029,03023,03025,03027,NaN,NaN
46,福岡,0322,0327,0313,0319,0322,0319,0325,0319,0321,...,03013,03019,03022,03019,03025,03019,03021,03023,NaN,NaN
47,佐賀,0322,0328,0318,0319,0322,0323,0330,0320,0323,...,03018,03019,03022,03023,03030,03020,03023,03024,NaN,NaN
48,大分,0323,0327,0314,0325,0326,0328,0404,0323,0324,...,03014,03025,03026,03028,0404,03023,03024,03024,NaN,NaN
49,長崎,0323,0326,0316,0320,0322,0322,0330,0317,0320,...,03016,03020,03022,03022,03030,03017,03020,03024,NaN,NaN
50,熊本,0321,0325,0316,0320,0321,0322,0401,0317,0326,...,03016,03020,03021,03022,0401,03017,03026,03023,NaN,NaN
51,鹿児島,0323,0326,0315,0320,0321,0327,0405,0317,0325,...,03015,03020,03021,03027,0405,03017,03025,03026,NaN,NaN
52,宮崎,0323,0324,0313,0319,0322,0324,0402,0316,0322,...,03013,03019,03022,03024,0402,03016,03022,03024,NaN,NaN
53,名瀬,0130,0120,0114,0116,0120,0118,0131,0122,0123,...,1014,1016,1020,1018,1031,1022,1023,01019,ß,NaN
54,石垣島,01171224122,0116,0106,212,0125,0119,0116,1106,01,...,106,2012,1025,1019,1016,01016,1,NaN,NaN,NaN
55,宮古島,0117,0118,0119,0116,0122,24,0130,0123,0107,...,1019,1016,1022,204,1030,1023,107,01016,1,NaN
56,那覇,0107,01221228115,0115,0121,0114,0110,0110,1108,01,...,1015,1021,1014,1010,1010,01018,1,NaN,NaN,NaN
57,南大東島,0124,0117,0107,017,0115,29,0127,0107,0125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
start.shape

(58, 24)

In [6]:
full_1 = pd.read_csv('sakura-full-2001-2010_corected.csv', dtype=object)
full_1.shape

(102, 13)

In [7]:
full_2 = pd.read_csv('sakura-full-2011-2019.csv', dtype=object)
full_2.shape

(58, 12)

In [17]:
full = full_2.merge(full_1, how='left', on='loc')

In [9]:
start = start.drop(columns=['not_someino_yoshino_x', 'not_someino_yoshino_y', 'avg_y', 'avg_x'])
start.head(1)

In [11]:
full = full.drop(columns=['not_someino_yoshino_x', 'not_someino_yoshino_y', 'avg_y', 'avg_x'])
full.head(1)

In [14]:
full.to_csv('full.csv', index=False)
start.to_csv('start.csv', index=False)

In [76]:
start.shape

(58, 20)

# Scrape coordinates and English name of cities from Google

In [38]:
from bs4 import BeautifulSoup
import requests

In [72]:
names = pd.read_csv('data/location-name.csv')
cities = list(names['loc'])

## Try scraping the city name in English & coordinates for one city

In [68]:
city = cities[10]

url = f'https://www.google.com/search?q={city}座標'
response = requests.get(url)
doc = BeautifulSoup(response.text)

city_eng = doc.find(class_='BNeawe').text.strip()
coord = doc.find(class_='BNeawe iBp4i AP7Wnd').text.strip()
print(city_eng)
print(coord)

Morioka
39.7020° N, 141.1543° E

## Scrape city name (English) and corodinates for all cities

In [75]:
rows = []
errors = []

for city in cities:
    row = {}
    error = {}
    try:
        url = f'https://www.google.com/search?q={city}座標'
        response = requests.get(url)
        doc = BeautifulSoup(response.text)
        row['city'] = city
        row['city_eng'] = doc.find(class_='BNeawe').text.strip()
        row['coord'] = doc.find(class_='BNeawe iBp4i AP7Wnd').text.strip()
        rows.append(row)
    except:
        error['city'] = city
        error['city_eng'] = 'ERROR'
        error['coord'] = 'ERROR'
        print(city)
        errors.append(error)

津
松江
名瀬

In [79]:
# Manually plug in numbers for these ones
errors

[{'city': '津', 'city_eng': 'ERROR', 'coord': 'ERROR'},
 {'city': '松江', 'city_eng': 'ERROR', 'coord': 'ERROR'},
 {'city': '名瀬', 'city_eng': 'ERROR', 'coord': 'ERROR'}]

## Add the three missing data points & clean up coordiantes in text editor

* Break up coords into lat/long and clean up
* add data points

In [83]:
df = pd.DataFrame(rows)
df.to_csv('city-eng-coord.csv', index=False)

In [101]:
temp3 = pd.read_csv('data/temp3-cleaned.csv')
temp3.head(5)

,稚内_temp,稚内,稚内.1,旭川_temp,旭川,旭川.1,網走_temp,網走,網走.1,札幌_temp,...,那覇.1,津_temp,津,津.1,名瀬_temp,名瀬,名瀬.1,松江_temp,松江,松江.1
年月,平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),...,平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃),平均気温(℃)
2001/3,-2.4,8,1,-2.9,8,1,-3.0,8,1,0.2,...,1,8.5,8,1,16.2,8,1,7.7,8,1
2001/4,4.7,8,1,6.1,8,1,6.2,8,1,8.3,...,1,14.0,8,1,19.7,8,1,13.2,8,1
2002/3,0.5,8,1,0.0,8,1,-0.3,8,1,2.5,...,1,10.5,8,1,17.8,8,1,9.6,8,1
2002/4,6.8,8,1,8.5,8,1,6.9,8,1,9.6,...,1,15.3,8,1,20.6,8,1,14.7,8,1

In [105]:
cols = list(temp3.columns)
cols_cleaned = []
cols_drop = []

for col in cols:
    if '_temp' in col:
        cols_cleaned.append(col)
    else:
        cols_drop.append(col)
        
temp3 = temp3.drop(columns=cols_drop)
temp = temp3[1:]

## Transpose the dataframe so that cities are rows, and dates are columns

In [122]:
temp_transposed = temp.T
temp_clean = temp_transposed.loc[:,'2001/3'::2]

In [130]:
temp_clean.to_csv('temp_cleaned.csv', index=False)

## Clean up:

* Add city names to temp_cleaned.csv so I can merge on the city names
* Edit column names in full & start csv >> 2001_start, 2001_full, etc in text editor
* Add year to every date so it's formatted 2001-01-01

In [135]:
temp_index = list(temp_clean.index)
index_clean = []

for city in temp_index:
    city = city.split('_')[0]
    index_clean.append(city)

In [138]:
temp_clean['city'] = index_clean

/Users/minami/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Re-import the manually edited csv

In [158]:
start = pd.read_csv('data/start_cleaned.csv', dtype=object)
full = pd.read_csv('data/full_cleaned.csv', dtype=object)

In [159]:
temp_clean.shape

(58, 20)

In [160]:
start.shape

(58, 20)

In [161]:
full.shape

(58, 20)

## Merge dataframes

In [162]:
merged = start.merge(full, on='loc')
merged.head(5)

,loc,2011_start,2012_start,2013_start,2014_start,2015_start,2016_start,2017_start,2018_start,2019_start,...,2001_full,2002_full,2003_full,2004_full,2005_full,2006_full,2007_full,2008_full,2009_full,2010_full
0,稚内,0519,0514,0526,0511,0503,0513,0509,0512,0507,...,0519,0502,0514,0512,0528,0520,0517,0505,0512,0525
1,旭川,0509,052,0518,0502,0427,0503,053,0430,0501,...,0507,0425,0504,0509,0517,0512,0508,0426,0504,0513
2,網走,0516,0503,0525,0507,0430,0508,055,0502,055,...,0513,0501,0512,0513,0525,0517,0516,0505,0507,0518
3,札幌,0507,051,0513,0429,0422,0425,0428,0426,0424,...,0505,0425,0504,0509,0516,0512,0508,0425,0504,0514
4,帯広,0503,055,0510,0427,0426,0430,0501,0427,0428,...,0501,0427,0503,0508,0510,0512,0508,0430,0504,0511

In [163]:
merged = merged.merge(temp_clean, left_on='loc', right_on='city')
merged.head(3)

,loc,2011_start,2012_start,2013_start,2014_start,2015_start,2016_start,2017_start,2018_start,2019_start,...,2011/3,2012/3,2013/3,2014/3,2015/3,2016/3,2017/3,2018/3,2019/3,city
0,稚内,0519,0514,0526,0511,0503,0513,0509,0512,0507,...,-0.6,-2.4,-1.3,-1.2,2.3,0.5,-0.4,0.1,0.1,稚内
1,旭川,0509,052,0518,0502,0427,0503,053,0430,0501,...,-2.1,-2.8,-2.1,-2.2,1.7,-0.6,-1.2,-0.1,-0.5,旭川
2,網走,0516,0503,0525,0507,0430,0508,055,0502,055,...,-1.3,-2.3,-1.6,-1.8,1.5,-0.4,-1.5,0.3,-0.7,網走

In [164]:
coord = pd.read_csv('data/city-eng-coord-cleaned.csv')
coord.head(1)

  city  city_eng  latitude  longitude
0   稚内  Wakkanai   45.4156   141.6734

In [165]:
merged = merged.merge(coord, on='city')
merged.head(2)

,loc,2011_start,2012_start,2013_start,2014_start,2015_start,2016_start,2017_start,2018_start,2019_start,...,2014/3,2015/3,2016/3,2017/3,2018/3,2019/3,city,city_eng,latitude,longitude
0,稚内,0519,0514,0526,0511,0503,0513,0509,0512,0507,...,-1.2,2.3,0.5,-0.4,0.1,0.1,稚内,Wakkanai,45.4156,141.6734
1,旭川,0509,052,0518,0502,0427,0503,053,0430,0501,...,-2.2,1.7,-0.6,-1.2,-0.1,-0.5,旭川,Asahikawa,43.7709,142.3650

In [166]:
merged = merged.drop(columns='loc')
merged.columns

Index(['2011_start', '2012_start', '2013_start', '2014_start', '2015_start',
       '2016_start', '2017_start', '2018_start', '2019_start', '2001_start',
       '2002_start', '2003_start', '2004_start', '2005_start', '2006_start',
       '2007_start', '2008_start', '2009_start', '2010_start', '2011_full',
       '2012_full', '2013_full', '2014_full', '2015_full', '2016_full',
       '2017_full', '2018_full', '2019_full', '2001_full', '2002_full',
       '2003_full', '2004_full', '2005_full', '2006_full', '2007_full',
       '2008_full', '2009_full', '2010_full', '2001/3', '2002/3', '2003/3',
       '2004/3', '2005/3', '2006/3', '2007/3', '2008/3', '2009/3', '2010/3',
       '2011/3', '2012/3', '2013/3', '2014/3', '2015/3', '2016/3', '2017/3',
       '2018/3', '2019/3', 'city', 'city_eng', 'latitude', 'longitude'],
      dtype='object')

In [172]:
merged.to_csv('data/sakura_complete.csv', index=False)