# Lede Summer 2019 Project - Part 5
## Combine all dataframes of Oly/Para info into one df

In [1]:
import requests
import pandas as pd
import re
import numpy as np
import os

import itertools

from bs4 import BeautifulSoup
from selenium import webdriver

In [2]:
df_para_summer = pd.read_csv('para_summer_complete.csv')
df_para_winter = pd.read_csv('para_winter_complete.csv')
df_oly_summer = pd.read_csv('oly_summer_complete.csv')
df_oly_winter = pd.read_csv('oly_winter_complete_cleaned.csv')

In [3]:
df_para_summer.head(3)

,alternate_name,citizenship,first_name,full_name,gender,last_name,medals_bronze,medals_gold,medals_silver,medals_total,other_info,years,event,game_type,season
0,NaN,SWE,Jonas,Jonas JAKOBSSON,Men,JAKOBSSON,8,17,2,27,NaN,1980-2012,Para shooting,Paralympic,Summer
1,NaN,ITA,Roberto,Roberto MARSON,Men,MARSON,3,16,7,26,NaN,1964-1976,Wheelchair fencing,Paralympic,Summer
2,NaN,GBR,Mike,Mike KENNY,Men,KENNY,0,16,0,16,NaN,1976-1988,Para swimming,Paralympic,Summer

In [4]:
df_para_winter.head(1)

,alternate_name,citizenship,first_name,full_name,gender,last_name,medals_bronze,medals_gold,medals_silver,medals_total,other_info,years,event,game_type,season
0,NaN,GER,Gerd,Gerd SCHOENFELDER,Men,SCHOENFELDER,2,16,4,22,NaN,1992-2010,Para alpine skiing,Paralympic,Winter

In [5]:
df_oly_summer.head(1)

,gender,last_name,first_name,citizenship,event,years,full_name,endpoint_cleaned,medals_bronze,medals_gold,medals_silver,medals_total,game_type,season,other_info,alternate_name
0,Men,PHELPS,Michael,USA,aquatics,2004-2016,Michael PHELPS,Michael-PHELPS,2,23,3,28,Olympic,Summer,NaN,NaN

In [6]:
df_oly_winter.head(1)

,gender,last_name,first_name,citizenship,event,years,full_name,endpoint_cleaned,medals_bronze,medals_gold,medals_silver,medals_total,game_type,season,other_info,alternate_name
0,Women,Marit,BJØRGEN,NOR,cross country,2002-2018,Marit BJØRGEN,marit-bjoergen,3,8,4,15,Olympic,Winter,NaN,NaN

## Clean headers for Oly df so they match the Para ones

In [7]:
df_para_summer.columns

Index(['alternate_name', 'citizenship', 'first_name', 'full_name', 'gender',
       'last_name', 'medals_bronze', 'medals_gold', 'medals_silver',
       'medals_total', 'other_info', 'years', 'event', 'game_type', 'season'],
      dtype='object')

In [8]:
df_para_winter.columns

Index(['alternate_name', 'citizenship', 'first_name', 'full_name', 'gender',
       'last_name', 'medals_bronze', 'medals_gold', 'medals_silver',
       'medals_total', 'other_info', 'years', 'event', 'game_type', 'season'],
      dtype='object')

In [9]:
df_oly_summer.columns

Index(['gender', 'last_name', 'first_name', 'citizenship', 'event', 'years',
       'full_name', 'endpoint_cleaned', 'medals_bronze', 'medals_gold',
       'medals_silver', 'medals_total', 'game_type', 'season', 'other_info',
       'alternate_name'],
      dtype='object')

In [10]:
df_oly_winter.columns

Index(['gender', 'last_name', 'first_name', 'citizenship', 'event', 'years',
       'full_name', 'endpoint_cleaned', 'medals_bronze', 'medals_gold',
       'medals_silver', 'medals_total', 'game_type', 'season', 'other_info',
       'alternate_name'],
      dtype='object')

In [11]:
df_oly_summer = df_oly_summer.drop(columns = 'endpoint_cleaned')

In [12]:
df_oly_winter = df_oly_winter.drop(columns = 'endpoint_cleaned')

In [13]:
df_oly_summer.head(1)

,gender,last_name,first_name,citizenship,event,years,full_name,medals_bronze,medals_gold,medals_silver,medals_total,game_type,season,other_info,alternate_name
0,Men,PHELPS,Michael,USA,aquatics,2004-2016,Michael PHELPS,2,23,3,28,Olympic,Summer,NaN,NaN

In [14]:
df_oly_winter.head(1)

,gender,last_name,first_name,citizenship,event,years,full_name,medals_bronze,medals_gold,medals_silver,medals_total,game_type,season,other_info,alternate_name
0,Women,Marit,BJØRGEN,NOR,cross country,2002-2018,Marit BJØRGEN,3,8,4,15,Olympic,Winter,NaN,NaN

In [15]:
merged_para = df_para_summer.append(df_para_winter, sort=False)
# merged_para.dtypes

In [16]:
merged_oly = df_oly_winter.append(df_oly_summer, sort=False)
# merged_oly.dtypes

In [17]:
merged = merged_para.append(merged_oly, sort=True)

In [18]:
merged

,alternate_name,citizenship,event,first_name,full_name,game_type,gender,last_name,medals_bronze,medals_gold,medals_silver,medals_total,other_info,season,years
0,NaN,SWE,Para shooting,Jonas,Jonas JAKOBSSON,Paralympic,Men,JAKOBSSON,8,17,2,27,NaN,Summer,1980-2012
1,NaN,ITA,Wheelchair fencing,Roberto,Roberto MARSON,Paralympic,Men,MARSON,3,16,7,26,NaN,Summer,1964-1976
2,NaN,GBR,Para swimming,Mike,Mike KENNY,Paralympic,Men,KENNY,0,16,0,16,NaN,Summer,1976-1988
3,NaN,BRA,Para swimming,Daniel,Daniel DIAS,Paralympic,Men,DIAS,3,14,7,24,NaN,Summer,2008-2016
4,NaN,SUI,Para athletics,Heinz,Heinz FREI,Paralympic,Men,FREI,6,14,6,26,NaN,Summer,1984-2012
5,NaN,SUI,Para athletics | handcycling,Franz,Franz NIETLISPACH,Paralympic,Men,NIETLISPACH,2,14,6,22,NaN,Summer,1980-2004
6,NaN,CAN,Para swimming,Michael,Michael EDGSON,Paralympic,Men,EDGSON,0,14,2,16,NaN,Summer,1984-1992
7,NaN,AUS,Para swimming,Matthew,Matthew COWDREY,Paralympic,Men,COWDREY,3,13,7,23,NaN,Summer,2004-2012
8,NaN,NOR,Para swimming,Erling,Erling TRONDSEN,Paralympic,Men,TRONDSEN,1,13,6,20,NaN,Summer,1976-1992
9,NaN,USA,Para athletics,Bart,Bart DODSON,Paralympic,Men,DODSON,4,13,3,20,NaN,Summer,1984-2000
10,NaN,USA,Para swimming,John,John MORGAN,Paralympic,Men,MORGAN,0,13,2,15,NaN,Summer,1984-1992
11,NaN,FRG,Para shooting,Siegmar,Siegmar HENKER,Paralympic,Men,HENKER,2,12,9,23,NaN,Summer,1976-1992
12,NaN,ISR,Para swimming,Uri,Uri BERGMAN,Paralympic,Men,BERGMAN,1,12,1,14,NaN,Summer,1976-1988
13,NaN,CAN,Para swimming,Timothy,Timothy MCISAAC,Paralympic,Men,MCISAAC,4,11,6,21,NaN,Summer,1976-1988
14,NaN,GBR,Para swimming,David,David ROBERTS,Paralympic,Men,ROBERTS,1,11,4,16,NaN,Summer,2000-2008
15,NaN,GBR,Para equestrian,Lee,Lee PEARSON,Paralympic,Men,PEARSON,1,11,2,14,NaN,Summer,2000-2016
16,NaN,BLR,Para swimming,Ihar,Ihar BOKI,Paralympic,Men,BOKI,1,11,1,13,NaN,Summer,2012-2016
17,NaN,USA,Wheelchair basketball,Ron,Ron STEIN,Paralympic,Men,STEIN,0,11,0,11,NaN,Summer,1960-1964
18,NaN,POL,Para swimming,Arkadiusz,Arkadiusz PAWLOWSKI,Paralympic,Men,PAWLOWSKI,5,10,3,18,NaN,Summer,1980-2000
19,NaN,USA,Para swimming | athletics,Ed,Ed OWEN,Paralympic,Men,OWEN,2,10,2,14,NaN,Summer,1964-1988
20,NaN,USA,Para swimming,Trischa,Trischa ZORN,Paralympic,Women,ZORN,5,32,9,46,NaN,Summer,1980-2004
21,NaN,FRA,Para swimming,Beatrice,Beatrice HESS,Paralympic,Women,HESS,0,20,5,25,NaN,Summer,1984-2004
22,NaN,JPN,Para swimming,Mayumi,Mayumi NARITA,Paralympic,Women,NARITA,2,15,3,20,NaN,Summer,1996-2004
23,NaN,GBR,Para swimming | cycling,Sarah,Sarah STOREY,Paralympic,Women,STOREY,3,14,8,25,NaN,Summer,1992-2016
24,NaN,ISR,Para athletics | wheelchair basketball | swimm...,Zipora,Zipora RUBIN-ROSENBAUM,Paralympic,Women,RUBIN-ROSENBAUM,6,14,6,26,NaN,Summer,1964-1988
25,NaN,CAN,Para athletics | cycling,Chantal,Chantal PETITCLERC,Paralympic,Women,PETITCLERC,2,14,5,21,NaN,Summer,1992-2008
26,NaN,USA,Para swimming,Erin,Erin POPOVICH,Paralympic,Women,POPOVICH,0,14,5,19,NaN,Summer,2000-2008
27,NaN,USA,Para swimming,Jessica,Jessica LONG,Paralympic,Women,LONG,4,13,6,23,NaN,Summer,2004-2016
28,NaN,FRG,Para swimming,Claudia,Claudia HENGST,Paralympic,Women,HENGST,8,13,4,25,NaN,Summer,1988-2004
29,NaN,RSA,Para swimming,Natalie,Natalie DU TOIT,Paralympic,Women,DU TOIT,0,13,2,15,NaN,Summer,2004-2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,NaN,FRA,biathlon,FOURCADE,Martin FOURCADE,Olympic,Men,Martin,0,5,2,7,NaN,Winter,2010-2018
0,NaN,USA,aquatics,Michael,Michael PHELPS,Olympic,Men,PHELPS,2,23,3,28,NaN,Summer,2004-2016
1,NaN,URS,gymnastics,Nikolay,Nikolay ANDRIANOV,Olympic,Men,ANDRIANOV,3,7,5,15,NaN,Summer,1972-1980
2,NaN,URS,gymnastics,Boris,Boris SHAKHLIN,Olympic,Men,SHAKHLIN,2,7,4,13,NaN,Summer,1956-1964
3,NaN,ITA,fencing,Edoardo,Edoardo MANGIAROTTI,Olympic,Men,MANGIAROTTI,2,6,5,13,NaN,Summer,1936-1960
4,NaN,JPN,gymnastics,Takashi,Takashi ONO,Olympic,Men,ONO,4,5,4,13,NaN,Summer,1952-1964
5,NaN,JPN,gymnastics,Sawao,Sawao KATO,Olympic,Men,KATO,1,8,3,12,NaN,Summer,1968-1976
6,NaN,FIN,athletics,Paavo,Paavo NURMI,Olympic,Men,NURMI,0,9,3,12,NaN,Summer,1920-1928
7,NaN,RUS,gymnastics,Alexei,Alexei NEMOV,Olympic,Men,NEMOV,6,4,2,12,NaN,Summer,1996-2000
8,NaN,USA,aquatics,Ryan,Ryan LOCHTE,Olympic,Men,LOCHTE,3,6,3,12,NaN,Summer,2004-2016
9,NaN,USA,shooting,Carl Townsend,Carl Townsend OSBURN,Olympic,Men,OSBURN,2,5,4,11,NaN,Summer,1912-1924
10,NaN,URS,gymnastics,Viktor,Viktor CHUKARIN,Olympic,Men,CHUKARIN,1,7,3,11,NaN,Summer,1952-1956
11,NaN,USA,aquatics,Mark,Mark SPITZ,Olympic,Men,SPITZ,1,9,1,11,NaN,Summer,1968-1972
12,NaN,USA,aquatics,Matthew,Matthew BIONDI,Olympic,Men,BIONDI,1,8,2,11,NaN,Summer,1984-1992
13,NaN,JPN,gymnastics,Akinori,Akinori NAKAYAMA,Olympic,Men,NAKAYAMA,2,6,2,10,NaN,Summer,1968-1972
14,NaN,BLR,gymnastics,Vitaly,Vitaly SCHERBO,Olympic,Men,SCHERBO,4,6,0,10,NaN,Summer,1992-1996
15,NaN,USA,athletics,Carl,Carl LEWIS,Olympic,Men,LEWIS,0,9,1,10,NaN,Summer,1984-1996
16,NaN,HUN,fencing,Aladar,Aladar GEREVICH,Olympic,Men,GEREVICH,2,7,1,10,NaN,Summer,1932-1960
17,NaN,URS,gymnastics,Aleksandr,Aleksandr DITYATIN,Olympic,Men,DITYATIN,1,3,6,10,NaN,Summer,1976-1980
18,NaN,USA,aquatics,Gary Jr.,Gary Jr. HALL,Olympic,Men,HALL,2,5,3,10,NaN,Summer,1996-2004
19,NaN,URS,gymnastics,Larisa,Larisa LATYNINA,Olympic,Women,LATYNINA,4,9,5,18,NaN,Summer,1956-1964
20,NaN,GER,Canoe,Birgit,Birgit FISCHER-SCHMIDT,Olympic,Women,FISCHER-SCHMIDT,0,8,4,12,NaN,Summer,1980-2004
21,NaN,USA,aquatics,Jenny,Jenny THOMPSON,Olympic,Women,THOMPSON,1,8,3,12,NaN,Summer,1992-1904
22,NaN,USA,aquatics,Dara,Dara TORRES,Olympic,Women,TORRES,4,4,4,12,NaN,Summer,1984-2008
23,NaN,USA,aquatics,Natalie,Natalie COUGHLIN,Olympic,Women,COUGHLIN,5,3,4,12,NaN,Summer,2004-2012
24,NaN,TCH,gymnastics,Vera,Vera CASLAVSKA,Olympic,Women,CASLAVSKA,0,7,4,11,NaN,Summer,1960-1964
25,NaN,GER,aquatics,Franziska,Franziska VAN ALMSICK,Olympic,Women,VAN ALMSICK,6,0,4,10,NaN,Summer,1992-2004
26,NaN,HUN,gymnastics,Agnes,Agnes KELETI,Olympic,Women,KELETI,2,5,3,10,NaN,Summer,1952-1956
27,NaN,URS,gymnastics,Polina,Polina ASTAKHOVA,Olympic,Women,ASTAKHOVA,3,5,2,10,NaN,Summer,1956-1964
28,NaN,GER,equestrian,Isabell,Isabell WERTH,Olympic,Women,WERTH,0,6,4,10,NaN,Summer,2000-2016

## Clean up the dataframe by getting rid of whitespaces with strip()

In [19]:
merged['citizenship'] = merged.citizenship.str.strip()
merged['years'] = merged.years.str.strip()
merged['full_name'] = merged.full_name.str.strip()
merged['event'] = merged.event.str.strip()

In [20]:
split_years = merged.years.str.split('-')
for year in split_years:
    try:
        if year[1] < year[0]:
            print(year)
    except:
        pass

['1992', '1904']

In [21]:
merged.to_csv('medal_info.csv', index=False)

## There is only ONE error where the century is wrong -- it should be 1992-2004.

* Export the dataframe as medal_info.csv
* Then manually edit in text editor
* Save cleaned file as medal_info_cleaned.csv